body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: rgb(255, 227, 217);
}

img,
.checkout-text {
  margin: 0px;
}

a {
  all: unset;
  text-decoration: none;
  color: white;
}

h1 {
  margin: 5px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

nav {
  text-align: start;
  padding: 1px 10px;
  color: white;
  background-color: coral;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

nav h1 {
  cursor: pointer;
}

div {
  margin: 0;
  text-align: center;
}

.main-image {
  margin: 20px;
  width: 50%;
  max-width: 500px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checkout-button {
  cursor: pointer;
  margin-top: 1px;
  padding: 4px 10px;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 94, 0);
  border-radius: 20px;
}

.checkout-button-updated {
  cursor: pointer;
  margin-top: 1px;
  padding: 4px 10px;
  display: flex;
  flex-direction: row;
  background-color: rgb(255, 94, 0);
  border-radius: 20px;
  border: 2px solid white;
}

.about-user {
  display: flex;
  flex-direction: column;
}

.about-user input {
  width: 300px;
  font-size: large;
  margin-bottom: 10px;
  border: none;
  color: white;
  background-color: coral;
  padding: 10px;
  border-radius: 4px;
}

.about-user input::placeholder {
  color: white;
}

.card-info {
  width: 300px;
  margin-bottom: 20px;
  padding: 10px;
  border-style: none;
  background-color: coral;
  border-radius: 4px;
}

button {
  cursor: pointer;
  background-color: coral;
  color: white;
  padding: 8px 28px 8px 28px;
  border-radius: 15px;
  border: none;
}

.product-array {
  display: flex;
  flex-direction: row;
}

.card {
  margin-top: 10px;
  margin-left: 10px;
  padding: 25px;
  width: max-content;
  border-radius: 2px;
  background-color: white;
}
